@{ 
    Layout = null;
    var ttt = ViewData["msg"];
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/Scripts/app/libs/ngDialog/css/ngDialog.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/content/css/error.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/module.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/content/css/login.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/app/libs/fullcalendar-new/fullcalendar.css" />
    <script src="~/Scripts/app/libs/jquery/dist/jquery.js"></script>
</head>
<body class="body-template" ng-cloak >
    <div class="body-layout">
        <!--导航栏-->
        <gint-nav></gint-nav>
        <div ui-view></div>
    </div>
    <input type="hidden" id="hidbox" value="@ttt" />
    <script src="/Scripts/app/libs/echarts.js"></script>
    
    <script src="/Scripts/app/libs/requirejs/require.js" data-main="/Scripts/app/main"></script>
</body>
</html>