
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link rel="stylesheet" href="~/Content/css/login.css" />
    <script src="~/Scripts/app/libs/jquery/dist/jquery.js"></script>
    
</head>
<body>
    <div class="LoginBg" id="bg">
    </div>
    <div class="LoginOuter">
        <div class="LoginInner">
               <h2 class="loginTit">用户登录</h2>

            <!--<form action="../Default/check" method="post">-->
                <dl class="Loginbox">

                    <dd>
                                <span class="inputIcon user"></span>

                        <input type="text" id="name"  style="width: 140px;
    height: 40px;
    padding: 0 10px;
    font-size:14px;
    vertical-align: middle;
    background-color: transparent;" placeholder="用户名">
                        <!--<span class="LoginTextTips" id="lblName">用户名</span>-->
                    </dd>
                    <dd>
                                <span class="inputIcon passw"></span>

                        <input type="password" id="password"  style="width: 140px;
    height: 40px;
    padding: 0 10px;
    font-size:14px;
    vertical-align: middle;
    background-color: transparent;" placeholder="密码">
                        <!--<span class="LoginTextTips" id="lblPwd">密码</span>-->
                    </dd>
                    <!-- 注：1 文本框获得焦点时，value清空； 2 文本框失去焦点时若内容为空，value值复原； 3 密码输入文本框获得焦点输入的字符不直接显示，显示为圆点。 -->
                    <dt>
                            <p class="inputError" ></p>

                        <button class="LoginBtn" id="btnLogin">
                            登录
                        </button>
                    </dt>

                </dl>
            <!--</form>-->

            
            <div class="LoginErrorbox" id="ctnErrorMsg" style="display: none">
                <em class="errorIco"></em><span id="lblErrorMsg">请输入用户名！</span>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
    <div class="localMask" style="display: none" id="alertMask">
    </div>
    <script>
        $('#btnLogin').on('click',function(){
            $.ajax({
            url:"/Default/check",
            method: "post",
            data:{
                name:$("#name").val(),
                password:$("#password").val()
            },
            dataType:'html',
            error: function(err){
                $(".inputError").html('用户名或密码错误！')
            },
            success: function(err){
                
                if(err==0){
                    window.location="/Default/index?name="+$('#name').val();
                }else if(err!==null){
                    $(".inputError").html('用户名或密码错误！')
                }
            },
        })
        })
        
        
    </script>
</body>
</html>
