
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link rel="stylesheet" href="~/Content/css/login.css" />
</head>
<body>
    <div class="LoginBg" id="bg">
    </div>
    <div class="LoginOuter">
        <div class="LoginInner">
            <h1 class="Loginlogo">
                <img id="logo2">
            </h1>
            <form action="../Default/check" method="post">
                <dl class="Loginbox">

                    <dd>
                        <input type="text" name="name" class="LoginText">
                        <span class="LoginTextTips" style="display: block;" id="lblName">用户名</span>
                    </dd>
                    <dd>
                        <input type="password" name="password" class="LoginText">
                        <span class="LoginTextTips" style="display: block;" id="lblPwd">密码</span>
                    </dd>
                    <!-- 注：1 文本框获得焦点时，value清空； 2 文本框失去焦点时若内容为空，value值复原； 3 密码输入文本框获得焦点输入的字符不直接显示，显示为圆点。 -->
                    <dt>
                        <button class="LoginBtn" id="btnLogin">
                            登录
                        </button>
                    </dt>

                </dl>
            </form>
            <div class="LoginErrorbox" id="ctnErrorMsg" style="display: none">
                <em class="errorIco"></em><span id="lblErrorMsg">请输入用户名！</span>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
    <div class="localMask" style="display: none" id="alertMask">
    </div>
        @*<form action="../Default/check" method="post">
                    <input class="name" name="name" maxlength="10" />
                    <input name="password" />
                    <button >登录</button>
        </form>*@
</body>
</html>
