<div class="crumbsBar-fixed"><a href="#">首页</a></div>
<!--} 顶部导航与logo end -->
<!-- 工具栏 begin {-->
<div class="toolBar" >
    <div class="clearFix">
        <div class="list-tabs fl">
            <a href="#" class="list-tab-item " ng-click="changeFilter(0)" ng-class="{'current':state==0}">冲突日程</a><!-- current 为选中状态-->
            <a href="#" class="list-tab-item"  ng-click="changeFilter(1)"  ng-class="{'current':state==1}">今日日程</a>
        </div>
    </div>

</div>
<!--} 工具栏 end -->
<!-- 列表 { -->
<div class="ListDateTable">
    <!-- 列表有数据 {-->
    <table border="0" cellpadding="0" cellspacing="0" ng-init="loadList(1)">
        <tbody>
            <tr>
                <th>课程名称</th>
                <th>班级／学员</th>
                <th ng-if="state==0">冲突提醒</th>
                <th><div class="list-sort" ng-click="changeOrderIndex('beginTime')">上课时间<em class="icon-sort-normal" ng-class="{'icon-sort-up':order.asc==true,'icon-sort-down':order.asc==false}"></em></div></th>
                <th>状态</th>
                <th>教师</th>
                <th>教室</th>
                <th ng-if="state==0">操作</th>
            </tr>
            <tr ng-if="data.list.length==0">
                <td colspan="8">
                    <div class="ListDateNoResult">无数据</div>
                </td>
            </tr>
            <tr class="ListDate" ng-repeat="item in data.list" ng-if="data.list.length>0">
                <!-- 说明： 每页数据10条-->
                <td><div class="t_overflow" style="width:100px"  gint-title="{{item.courseName}}">{{item.courseName}}</div></td>
                <td><div class="t_overflow" style="width:100px"  gint-title="{{item.projectName}}">{{item.projectName}}</div></td>
                <td ng-if="state==0">{{item.conflictMessage}}</td>
                <td>{{item.beginTime | formatJsonDate:'yyyy-MM-dd HH:mm'}}-{{item.endTime | formatJsonDate:'HH:mm'}}</td>
                <td>
                    <span class="mark-style" ng-class="{'type1':item.scheduleState == 1,'type3':item.scheduleState == 0}">{{item.scheduleState == 1?'生效':item.scheduleState == 0?'未生效':'错误'}}</span>
                </td>
                <td>{{item.teacherName}}</td>
                <td>{{item.classRoomName}}</td>
                <td ng-if="state==0"><button type="button" class="normal-btn next" ng-click="locate(item)" ng-disabled="!schedule" ng-class="{'disabled':!schedule}">调整日程</button></td>
            </tr>
        </tbody>
    </table>
    <!--} 列表有数据 -->

</div>
<!--} 列表 -->
<!-- 页码 {-->
<div paging page="home.pageIndex" page-size="home.pageSize" total="home.total" hide-if-empty="true" paging-action="home.func(page)" class="ng-isolate-scope"></div>
    <!--} 页码 -->
    <!-- 排课指引 {-->
    <div class="guide-outer">
        <div class="guide-box">
            <h1>排课指引</h1>
            <dl class="guide-content">
                <dd>
                    <span><em>1</em>进入设置页面－设置教室</span>
                    <button type="button" class="normal-btn next" ng-disabled="!classRoom" ng-class="{'disabled':!classRoom}" ui-sref="scheduleClassroom" ui-sref-opts="{reload: true}" ui-sref-active="active" href="#/scheduleClassroom">点击进入教室设置</button>
                </dd>
                <dd>
                    <span><em>2</em>进入设置页面－设置上课时间表</span>
                    <button type="button" class="normal-btn next" ng-disabled="!classTime" ng-class="{'disabled':!classTime}" ui-sref="scheduleTime" ui-sref-opts="{reload: true}" ui-sref-active="active" href="#/scheduleTime">点击进入时间设置</button>
                </dd>
                <dd>
                    <span><em>3</em>进入员工管理页面－管理员工信息</span>
                    <button type="button" class="normal-btn next" ng-disabled="!teacher" ng-class="{'disabled':!teacher}" ui-sref="teacher.list" ui-sref-opts="{reload: true}" ui-sref-active="active" href="#/teacher">点击进入员工设置</button>
                </dd>
                <dd>
                    <span><em>4</em>进入课程管理页面－管理课程信息</span>
                    <button type="button" class="normal-btn next" ng-disabled="!course" ng-class="{'disabled':!course}" ui-sref="course" ui-sref-opts="{reload: true}" ui-sref-active="active" href="#/course">点击进入课程设置</button>
                </dd>
                <dd>
                    <span><em>5</em>进入学员管理页面－管理学员信息</span>
                    <button type="button" class="normal-btn next" ng-disabled="!student" ng-class="{'disabled':!student}" ui-sref="student" ui-sref-opts="{reload: true}" ui-sref-active="active" href="#/student">点击进入学员设置</button>
                </dd>
                <dd>
                    <span><em>6</em>进入班级管理页面－管理班级信息</span>
                    <button type="button" class="normal-btn next"  ng-disabled="!class" ng-class="{'disabled':!class}" ui-sref="class" ui-sref-opts="{reload: true}" ui-sref-active="active" href="#/class">点击进入班级设置</button>
                </dd>
                <dd>
                    <span><em>7</em>进入排课页面－进行排课</span>
                    <button type="button" class="normal-btn next"   ng-disabled="!schedule" ng-class="{'disabled':!schedule}" ui-sref="schedule" ui-sref-opts="{reload: true}" ui-sref-active="active" href="#/schedule">点击进入排课</button>
                </dd>
            </dl>
        </div>
    </div>
    <!--} 排课指引 -->
