<div class="modal" ng-show="isShow">
    <div class="popups-position">
            <div class="popups-title">
                <span class="pop-name">修改密码</span>
            </div>
            <div class="popups-body">
                <!--更换密码-->
                <div class="account-edit-pswd" ng-show='tabNum === 1'>
                    <div class="pop-up-loginbox">
                        <div class="pop-up-loginCon"><label class="pop-up-column">当前密码</label><input type="password" class="popup-input-s pop-up-passWord"
                                ng-model='oldPwd'></div>
                        <div class="pop-up-loginCon"><label class="pop-up-column">新密码</label><input type="password" class="popup-input-s pop-up-passWord"
                                ng-model='newPwd'></div>
                    </div>
                </div>
               


            </div>
            <div class="popups-btnBox clearfix">
                <button type="button" class="normal-btn cancel fl" ng-click='cancle()'>取消</button>
                <button type="button" class="normal-btn next fr" ng-click='confirm()'>确定</button>
            </div>

    </div>
</div>