<div class="modal" ng-if="showContrl">
    <div class="popups-position">
        <div class="popups-title">
            <span class="pop-name">{{employee.id?"编辑":"新增"}}员工</span>
        </div>
        <div class="popups-body copyScroll">
            <div class="level-title1">基本信息</div>
            <ul class="pop-ul twoColumn">
                <li>
                    <label class="label-con">用户名</label><input ng-disabled="loginNameDisabled" class="normal-input" ng-model="employee.loginName" type="text" maxlength="32" placeholder="登录id，添加后不能修改">
                </li>
                <li>
                    <label class="label-con">*姓名</label><input class="normal-input" ng-model="employee.name" type="text" maxlength="100" placeholder="请输入姓名">
                </li>
                <li>
                    <label class="label-con">*性别</label>
                    <select-box input-styles="middle" when-selected-action="sexSelectAction(data)" selected-data="sexSelect" select-list-data="sex" select-filed="value"></select-box>
                </li>
                <li>
                    <label class="label-con">*联系方式</label><input class="normal-input" ng-model="employee.tel" type="text" placeholder="请输入联系方式">
                </li>
            </ul>
            <div class="level-title2">
                <span class="item-name">*部门</span>
                <div class="item-con">
                    <span ng-repeat="item in employee.departmentIds" class="con-text">{{item.name}}<em class="item-delete" ng-click="deleteDep($index)"></em></span>
                    <em class="add-con-text" ng-click="MultiplePopup.departmentIds.show()">新增</em>
                </div>
            </div>
            <div class="level-title2">
                <span class="item-name">校区权限</span>
                <div class="item-con">
                    <span ng-repeat="item in employee.authoritySchools" class="con-text">{{item.name}}</span>
                </div>
            </div>
            <div class="level-title2">
                <span class="item-name">上课校区</span>
                <div class="item-con">
                    <span ng-repeat="item in employee.classSchools" class="con-text">{{item.name}}<em class="item-delete" ng-if="item.canDelete" ng-click="employee.classSchools.splice($index,1)"></em></span>
                    <em class="add-con-text" ng-click="MultiplePopup.classSchools.show()">新增</em>
                </div>
            </div>
            <div class="level-title2">
                <span class="item-name">角色</span>
                <div class="item-con">
                    <span ng-repeat="item in employee.roles" class="con-text">{{item.name}}<em class="item-delete" ng-click="employee.roles.splice($index,1)"></em></span>
                    <em class="add-con-text" ng-click="MultiplePopup.roles.show()">新增</em>
                </div>
            </div>
        </div>
        <div class="popups-btnBox clearFix">
            <button type="button" ng-click="cancel(1)" class="normal-btn cancel fl">取消</button>
            <button type="button" ng-click="createEmp()" class="normal-btn next fr">确定</button>
        </div>
    </div>
</div>

<!--校区多选组件-->
<multiple-popup config="MultiplePopup.classSchools" is-manual-load="true"></multiple-popup>

<!--部门多选组件-->
<multiple-popup config="MultiplePopup.departmentIds" is-manual-load="true"></multiple-popup>

<!--角色多选组件-->
<multiple-popup config="MultiplePopup.roles" is-manual-load="true"></multiple-popup>
