<!--新增班级 弹框开始-->
<div class="modal" ng-show="showClassPopup">
    <div class="popups-position">
        <div class="popups-title">
            <span class="pop-name">{{type == 1 ?'新增班级':type == 2?'编辑班级':'错误'}}</span>
        </div>
        <div class="popups-body copyScroll">
            <div class="level-title1">基本信息</div>
            <ul class="pop-ul twoColumn">
                <li>
                    <label class="label-con">*班级名称</label>
                    <input class="normal-input" type="text" placeholder="请输入班级名称" ng-class="{'disabled':relate}" ng-disabled="type==2 || relate" ng-model="info.className"  maxlength="100">
                </li>
                <li>
                    <label class="label-con">*班级人数</label>
                    <input class="normal-input" type="text" placeholder="请输入班级人数"  ng-class="{'disabled':relate}" ng-disabled="relate" ng-model="info.stucount"  maxlength="100">
                </li>
            </ul>
        </div>
        <div class="popups-btnBox clearFix">
            <button type="button" class="normal-btn cancel fl" ng-click="cancelClass()">取消</button>
            <button type="button" class="normal-btn next fr" ng-click="classValite()">确定</button>
        </div>
    </div>
</div>
<!--新增班级 弹窗结束-->