
<div class="modal" ng-show="show">
    <div class="popups-position">
        <div class="popups-title">
            <span class="pop-name">{{type == 1 ?'新增教室':type == 2?'编辑班级':'错误'}}</span>
        </div>
        <div class="popups-body copyScroll">
            <div class="level-title1">基本信息</div>
            <ul class="pop-ul twoColumn">
                <li>
                    <label class="label-con">*教室名称</label>
                    <input class="normal-input" type="text" placeholder="请输入教室名称" ng-class="{'disabled':relate}"  ng-model="info.name"  maxlength="100">
                </li>
                <li>
                    <label class="label-con">*教室容量</label>
                    <input class="normal-input" type="text" placeholder="请输入教室容量"  ng-class="{'disabled':relate}"  ng-model="info.count"  maxlength="100">
                </li>
                <li>
                    <label class="label-con">*教室类型</label>
                    <input class="normal-input" type="text" placeholder="请输入教室类型"  ng-class="{'disabled':relate}"  ng-model="info.type"  maxlength="100">
                </li>
            </ul>
        </div>
        <div class="popups-btnBox clearFix">
            <button type="button" class="normal-btn cancel fl" ng-click="cancelClass()">取消</button>
            <button type="button" class="normal-btn next fr" ng-click="classValite()">确定</button>
        </div>
    </div>
</div>