<!--} 顶部导航与logo end -->
<!-- 工具栏 begin {-->
<div class="toolBar">
    <div class="clearFix">
        <div class="list-btnBox fl">
            <button type="button" class="normal-btn next"  ng-click="addClass()">新增班级</button>
            
            
            
            
        </div>
        <div class="list-searchBox fr">
            <!--搜索框 列表页用长搜索框，增加样式 long； 弹框页用短搜索框，增加样式 short {-->
            <div class="search-box">
                <input class="search-text long" placeholder="请输入班级名称搜索" type="text" ng-model="searchKey" ng-keyup="onSearchKeyPress($event)">
                <button type="submit" class="search-submit" title="班级名称" ng-click="searchClassList()"></button>
            </div>
            <!--} 搜索框-->
        </div>
    </div>
</div>
<!--} 工具栏 end -->
<div class="ListDateTable">
    <!-- 列表有数据-->
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <th>班级名称</th>
                <th>学生数量</th>
                <th>操作</th>
            </tr>
            <tr ng-if="list.length == 0">
                <td colspan="8">
                    <div class="ListDateNoResult">无数据</div>
                </td>
            </tr>
            <tr class="ListDate" ng-repeat="item in list" ng-show="list.length != 0">
                <td ><div style="max-width:150px;"  class="t_overflow">{{item.className}}</div></td>
                <td ><div style="max-width:150px;"  class="t_overflow">{{item.stucount}}</div></td>
                <td>
                    <button  class="listDate-link" ng-click="editClass(item.classId)" >编辑</button>
                    <button  class="listDate-link" ng-click="closeClass(item.classId)" >删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--} 列表有数据 -->
</div>
<!--新增班级 弹框开始-->
<add-class show-class-popup ="showClassPopup" all-info="list" call-back="init()" search-key="searchKey"></add-class>
<!--新增班级 弹窗结束-->

