<div class="toolBar">
    <div class="clearFix">
        <div class="list-btnBox fl">
            <button type="button" class="normal-btn next" ng-click="initschedule()">初始化课表</button>
            <!--<button type="button" class="normal-btn next" ng-click="x()">获取适应度参数</button>-->
            <!--<button type="button" class="normal-btn next"  ng-click="getlist()">获取基因</button>-->
            <!--<button type="button" class="normal-btn next" ng-click="calcul()">计算适应度</button>-->
            <!--<button type="button" class="normal-btn next" ng-click="errtest()">课表冲突检测</button>-->
            <!--<button type="button" class="normal-btn next" ng-click="mix()">交叉</button>-->
            <button type="button" class="normal-btn next" ng-click="mix2()">优化</button>
            
            <!--<button type="button" class="normal-btn next"  ng-click="testzc()">test</button>-->
            <button type="button" class="normal-btn next" ng-click="set()">导出</button>
        </div>
    </div>
</div>
    <ng-echarts class="col-md-6 echarts" style="width:1000px;height:520px;" ec-config="lineConfig" ec-option="lineOption"></ng-echarts>