
<div class="modal" ng-show="showCourse">
    <div class="popups-position">
        <div class="popups-title">
            <span class="pop-name">新增课程</span>
        </div>
        <div class="popups-body copyScroll">
            <div class="level-title1">基本信息</div>
            <ul class="pop-ul twoColumn">
                <li>
                    <label class="label-con">*课程名称</label>
                    <input class="normal-input" type="text" placeholder="请输入课程名称" ng-class="{'disabled':relate}"  ng-model="info.courseName"  maxlength="100">
                </li>
                <li>
                    <label class="label-con">*课程类型</label>
                    <select-box selected-data="courseData" select-list-data="typelist" select-filed="type" when-selected-action="selectdType(data)"></select-box>
                </li>
                <li>
                    <label class="label-con">*周课时</label>
                    <select-box selected-data="timeData" select-list-data="timelist" select-filed="time" when-selected-action="selectdTime(data)"></select-box>
                </li>
                <li>
                    <label class="label-con">上课班级</label>
                    <select-box selected-data="classdata" select-list-data="classlist" select-filed="className" when-selected-action="selectdCourse(data)"></select-box>
                </li>
                <li>
                    <label class="label-con">所需教室类型</label>
                    <select-box selected-data="roomdata" select-list-data="roomtypelist" select-filed="roomtype" when-selected-action="selectdroomtype(data)"></select-box>
                </li>
            </ul>
        </div>
        <div class="popups-btnBox clearFix">
            <button type="button" class="normal-btn cancel fl" ng-click="cancel()">取消</button>
            <button type="button" class="normal-btn next fr" ng-click="confirm()">确定</button>
        </div>
    </div>
</div>